/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* general */

:root {
  --gap-050: 0.2rem;
  --gap-100: 0.4rem;
  --gap-150: 0.6rem;
  --gap-200: 0.8rem;
  --gap-250: 1.0rem;
  --gap-300: 1.2rem;
  --gap-400: 1.6rem;
  --gap-500: 2.0rem;
  --transition-fast: all .1s ease-in-out;
  --transition-slow: all .4s ease-in-out;
  --font-stack: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  --font-sm: 0.9rem;
  --font-md: 1.1rem;
  --font-lg: 1.3rem;
  font-family: var(--font-stack);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: var(--transition-fast);
}

html, body {
  min-height: 100vh;
}

a {
  text-decoration: none;
}